html {

  background-size: 50%;
  height: 100%;
  width: 100%;

  
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f1bdcd10018309.560de18726f5f.png");
  background-repeat: no-repeat;
  background-position: center;
 
}


}
